<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
  <h1 class="display-4">Pricing</h1>
  <p class="lead">Support the future development of Cauldron and unlock features available only in Cauldron Cloud</p>
</div>

<div class="container">
  <div class="card-deck mb-3 text-center">
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Public Cauldron</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$0 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>Unlimited number of reports</li>
          <li>Share reports freely</li>
          <li>Data from: GitHub, GitLab, Stack Exchange, and more</li>
        </ul>
        <a class="btn btn-lg btn-block btn-outline-primary text-center" href="{% url 'create_project' %}">Create a report now</a>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Cauldron Cloud</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">$249 <small class="text-muted">/ mo</small></h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>All the features of Public Cauldron</li>
          <li>Private Instance</li>
          <li>Organizational Affiliations</li>
          <li>Contributors Information</li>
        </ul>
        <a class="btn btn-lg btn-block btn-primary text-center" target="_blank" href="https://cloud.cauldron.io/#register">Buy Now</a>
      </div>
    </div>
    <div class="card mb-4 box-shadow">
      <div class="card-header">
        <h4 class="my-0 font-weight-normal">Other Metric Needs</h4>
      </div>
      <div class="card-body">
        <h1 class="card-title pricing-card-title">Ask us</h1>
        <ul class="list-unstyled mt-3 mb-4">
          <li>All the features of Cauldron Cloud</li>
          <li>More data sources</li>
          <li>Custom reporting</li>
          <li>On-prem deployment, and more...</li>
        </ul>
        <a class="btn btn-lg btn-block btn-outline-primary text-center" target="_blank" href="https://bitergia.com/contact.html">Contact Bitergia</a>
      </div>
    </div>
  </div>
</div>
