{% load static %}
{% load admin_urls %}

{% url 'homepage' as homepage %}
{% url 'compare_projects' as compare_projects %}

<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Software development analytics online tool by Bitergia">

  <!--Required Social Media Tags -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Level up Software Development Analytics - Cauldron">
  <meta name="twitter:description" content="Cauldron allows project managers, analysts, and developers to understand more about the community and processes involved in software development"/>
  <meta name="twitter:image" content="{{ request.scheme }}://{{ request.get_host }}{% static 'img/cauldron_logo.jpg' %}"/>
  <meta property="og:title" content="Level up Software Development Analytics - Cauldron" />
  <meta property="og:description" content="Cauldron allows project managers, analysts, and developers to understand more about the community and processes involved in software development" />
  <meta property="og:image" content= "{{ request.scheme }}://{{ request.get_host }}{% static 'img/cauldron_logo.jpg' %}"/>


  <!-- Cookie consent -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#edeff5",
        "text": "#838391"
      },
      "button": {
        "background": "#4b81e8"
      }
    },
    "showLink": false,
    "position": "bottom-right",
    "content": {
      "message": "This website uses cookies to remember your preferences, and to learn about how people are using the system."
    }
  })});
  </script>

  {% if google_analytics_id %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ google_analytics_id }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', '{{google_analytics_id}}');
  </script>
  {% endif %}

  {% if plausible_analytics_enabled %}
  <!-- Plausible Analytics JS -->
  <script async defer data-domain={{request.get_host}} src="https://plausible.io/js/plausible.js"></script>
  {% endif %}

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

  <!-- SB Admin 2 styles -->
  <link rel="stylesheet" href="{% static 'css/sb-admin-2.min.css' %}">

  <!-- Bootstrap Select CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/css/bootstrap-select.min.css">

  <!-- Awesome icons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" integrity="sha256-h20CPZ0QyXlBuAw7A+KluUYx/3pK+c7lYEpqLTlxjYQ=" crossorigin="anonymous" />

  <!-- Custom CSS -->
  <link rel="stylesheet" href="{% static 'css/common.css' %}">

  <!-- Favicon.ico -->
  <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}"/>

  {% block css%}
  {% endblock %}

  <title>Cauldron - Level Up Software Development Analytics</title>
</head>

<body>
  <!-- BEGIN NAVBAR -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand mr-auto" href="{% url 'homepage' %}">
        <img src="{% static '/img/cauldron-logo-white.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
        Cauldron <sup class="badge badge-secondary">izurtza</sup>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOptions" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarOptions">
        <ul class="navbar-nav mr-auto ml-3">
          <li class="nav-item">
            {% if authenticated %}
            <a class="nav-link" href="{% url 'homepage' %}">Reports</a>
            {% else %}
            <a class="nav-link" href="{% url 'explore_projects' %}">Explore</a>
            {% endif %}
          </li>
          {% if authenticated and request.path != compare_projects %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'compare_projects' %}">Compare</a>
          </li>
          {% endif %}
          {% if request.user.is_superuser and hatstall_url %}
          <li class="nav-item">
            <a class="nav-link" target="_blank" href="{{ hatstall_url }}">Contributors</a>
          </li>
          {% endif %}
        </ul>

        <div class="navbar-line d-none"></div>

        {% if request.resolver_match.url_name != 'show_project' and request.resolver_match.url_name != 'create_project' and request.resolver_match.url_name != 'login_page' or repositories_count > 0 %}
        <a class="btn btn-icon-split btn-orange mx-lg-3 mx-0 my-2 my-lg-0" href="{% url 'create_project' %}">
          <span class="icon"><i class="fas fa-plus"></i></span>
          <span class="text">New report</span>
        </a>
        {% endif %}

        <div class="nav-item dropdown">
          <a class="nav-link dropdown-toggle navbar-text" href="#" id="dropdownCommunityMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-question-circle"></i>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownCommunityMenu">
            {% if pricing_enabled %}
            <a class="dropdown-item" href="{% url 'pricing' %}" target="_blank">Pricing</a>
            <div class="dropdown-divider"></div>
            {% endif %}
            <a class="dropdown-item" href="https://community.cauldron.io/" target="_blank">Support forum</a>
            <a class="dropdown-item" href="https://gitlab.com/cauldronio/cauldron/issues/new" target="_blank">Report an Issue</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="https://mailchi.mp/003f1e1f6242/cauldron-newsletter" target="_blank">Newsletter</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'stats' %}" target="_blank">Cauldron Stats</a>
          </div>
        </div>

        {% if authenticated %}
        <div class="nav-item dropdown ml-0">
          <a class="nav-link dropdown-toggle navbar-text p-0" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span> {{ request.user.first_name }} </span>
            <img src="{{ photo_user }}" class="rounded-circle avatar">
          </a>

          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="{% url 'profile:index' %}">Profile settings</a>
            {% if request.user.is_superuser %}
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Administration</h6>
            <a class="dropdown-item" target="_blank" href="{% url 'kibana_admin' %}">Kibana admin</a>
            <a class="dropdown-item" href="{% url 'admin:index' %}">Django admin</a>
            <a class="dropdown-item" href="{% url 'admin_page_users' %}">Manage users</a>
            {% if plausible_analytics_url %}
            <a class="dropdown-item" target="_blank" href="{{ plausible_analytics_url }}">Plausible Analytics</a>
            {% endif %}
            {% endif %}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">Log out</a>
          </div>
        </div>
        {% elif request.resolver_match.url_name != 'login_page' %}
        <a class="btn btn-light d-block d-lg-inline-block mb-0 ml-md-lg-3 ml-md-0" href="#" data-toggle="modal" data-target="#modalLogin">
          Login
        </a>
        {% endif %}
      </div>

    </div>
  </nav>
  <!-- END NAVBAR-->


  <!-- BEGIN Modal for login -->
  {% if request.resolver_match.url_name != 'login_page' %}
  <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLoginTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      {% include "cauldronapp/utils/modal_login.html" %}
    </div>
  </div>

  {% endif %}
  <!-- END Modal for login -->


  <!-- BEGIN Container for alerts -->
  <div class="container">
    <div id="alert-container" style="display: none;">
    </div>
  </div>
  <!-- END Container for alerts-->

  <!-- BEGIN Toast list for notifications-->
  <div aria-live="polite" aria-atomic="true" style="position: fixed; width: 100%; bottom: 50px; z-index: 9999;">
    <!-- Position it -->
    <div id="toast-container">

    </div>
  </div>
  <!-- END Toast list for notifications-->


  <div>
    {% block sidebar %}
    {% endblock %}
    <div class="site-content {% if sidebar %}content-moved{% endif %}">
      <div class="container-fluid">
        {% for message in banner_messages %}
        <div class="bannerMessage alert {{ message.color }} {{ message.border_color }} {{ message.text_color }} my-2 alert-dismissible" data-message-id="{{ message.id }}">
            {{ message.message | safe }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
      </div>
      {% block content %}
      {% endblock %}
      <footer class="footer-position bg-dark text-white pt-3">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-3 offset-md-1">
                <div><a href="https://bitergia.com" target="_blank"><img src="/static/img/bitergia-w-logo-s.png" alt="Bitergia" width="120"></a></div>
                  <p style="display:inline-block">Copyright &copy; 2021 <a href="https://bitergia.com">Bitergium SLL.</a> and its
                    contributors.</p>
                  <p>Some Rights Reserved.</p>
                  <p>
                    <a href="{% url 'terms' %}" target="_blank">Terms</a> |
                    <a href="{% url 'privacy' %}" target="_blank">Privacy</a> |
                    <a href="{% url 'cookies' %}" target="_blank">Cookies Policy</a>
                </p>
              </div>
              <div class="col-md-4">
                <p><a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
                  <img src="/static/img/by-sa.png" width="120" alt="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0)">
                </a></p>
                <p>Cauldron and the Cauldron logo are
                  trademarks of <a href="https://bitergia.com" target="_blank">Bitergium SLL.</a> in the European Union and/or
                  other jurisdictions. All other trademarks are the property of their respective holders.</p>
              </div>
              <div class="col-md-4">
              <p>Made with <abbr title="love"><span style="color: red; font-size: 1.2rem;">&hearts;</span></abbr> and <strong><a href="https://cauldronio.gitlab.io" target="_blank">free, open source software</a></strong> based on:</p>
              <p>
                <a href="https://chaoss.github.io/grimoirelab/" target="_blank"><img src="/static/img/wizard-y.svg"
                    height="24" alt=""> GrimoireLab</a> |
                <a href="https://www.djangoproject.com/" target="_blank">Django</a> |
                <a href="https://opendistro.github.io/for-elasticsearch/" target="_blank">Open Distro for Elasticsearch</a>
              </p>
              <p>
                <a href="https://status.cauldron.io/">Status</a> |
                Follow us on <a href="https://twitter.com/cauldronio" target="_blank"><i class="fab fa-twitter" style="background: none;"></i> @cauldronio</a> |
                <a href="https://mailchi.mp/003f1e1f6242/cauldron-newsletter" target="_blank"><i class="fa fa-envelop"></i> Newsletter</a>
              </p>

            </div>
            </div>
          </div>

      </footer>
    </div>
  </div>

  <!-- BEGIN Container for modals -->
  <div class="modal" tabindex="-1" role="dialog" id="modal-alert">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p></p>
        </div>
        <div class="modal-footer"></div>
      </div>
    </div>
  </div>
  <!-- END Container for modals-->

  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
  <!-- Bootstrap Select JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.18/dist/js/bootstrap-select.min.js"></script>

  <script src="{% static 'js/common.js' %}" charset="utf-8"></script>

  {% block javascript %}
  {% endblock %}
  {% if alert_notification %}
  <script>
    showModalAlert("{{ alert_notification.title }}", "{{alert_notification.message}}", '<button type="button" class="btn btn-info" data-dismiss="modal">OK</button>')
  </script>
  {% endif %}

</body>

</html>
