{% extends "cauldronapp/base.html" %}
{% load static %}

{% block css%}
<!-- Custom styles for pricing -->
<link rel="stylesheet" href="{% static 'css/pricing.css' %}">
{% endblock %}


{% block content %}
  <section class="header">
    <div class="py-5 container-fluid h-100 d-inline-block">
      <div class="row justify-content-lg-center align-items-center">
        <div class="col-lg-6 text-center text-lg-left">
          <h1 class="font-weight-bold my-4">Level Up Software Development Analytics</h1>
          <p class="mb-3">Cauldron allows project managers, analysts, and developers to understand more about the community and processes involved in software development</p>
          <a class="btn btn-orange btn-lg my-3" href="{% url 'create_project' %}">Create a report</a>
        </div>
        <!-- <div class="col-lg-2 text-lg-left">-->
        <!--   <img class="img-fluid" src="{% static 'img/three_images.png' %}" alt="">-->
        <!-- </div>-->
        <div class="col-lg-2 text-lg-left text-dark mb-1">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Recommended reports</h5>
              <table class="table">
                <tr>
                  <td><a href="https://cauldron.io/project/51?from_date=2016-02-11&to_date=2021-02-11&tab=overview">Elasticsearch</a></td>
                </tr>
                <tr>
                  <td><a href="https://cauldron.io/project/1311?from_date=2014-02-03">Kubernetes</a></td>
                </tr>
                <tr>
                  <td><a href="https://cauldron.io/project/1309?from_date=2010-01-01">Ansible</a></td>
                </tr>
                <tr>
                  <td><a href="https://cauldron.io/compare?projects=1912&projects=13&from_date=2008-02-11">Rust vs Go</a></td>
                </tr>
                <tr>
                  <td><a href="https://cauldron.io/compare?projects=1544&projects=3663&from_date=2011-02-11">Bitcoin vs Monero</a></td>
                </tr>
                <tr>
                  <td><a href="https://cauldron.io/compare?projects=1818&projects=1816&projects=1577&projects=1559&projects=1545">COVID Tracker Tools</a></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="col-lg-2 text-lg-left text-dark mb-1">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Latest reports</h5>
              {% if latest_projects %}
              <table class="table">
                {% for project in latest_projects %}
                <tr>
                  <td><a href="{% url 'show_project' project.id %}">{{project.name}}</a></td>
                </tr>
                {% endfor %}
              </table>
              {% else %}
              <span class="card-text">There aren't projects created</span>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="features">
    <div class="container-fluid">
      <div class="row justify-content-lg-center">
        <div class="col-lg-4 order-lg-2 mb-4">
          <h2>All-in-one</h2>
          <h5>Cauldron is a SaaS analytics solution that allows users to aggregate information from multiple collaboration platforms as different types of data sources. Because software development is more than just code commits in a single repository, Cauldron allows users define which data sources to include in any analysis.</h5>
        </div>
        <div class="col-lg-4 order-lg-1 mb-4">
          <img class="img-fluid mb-4" src="{% static 'img/report_page.png' %}" alt="Report page">
        </div>
      </div>
      <div class="row justify-content-lg-center">
        <div class="col-lg-4 mb-4">
          <h2>Multiple data sources</h2>
          <h5>Open source software development is not only happening in one single platform. Cauldron allow you to define the open source ecosystem you want to analyze by combining several data sources like Git, GitHub, GitLab (even hosted instances from GNOME and KDE), and Meetup.</h5>
        </div>
        <div class="col-lg-4 mb-4">
          <img class="img-fluid mb-4" src="{% static 'img/data_sources.png' %}" alt="Multiple datasources">
        </div>
      </div>
      <div class="row justify-content-lg-center">
        <div class="col-lg-4 order-lg-2 mb-4">
          <h2>Compare projects</h2>
          <h5>Are you willing to share two open source ecosystems or projects that matter to you? Cauldron allows you to select several projects to compare insights between them.</h5>
        </div>
        <div class="col-lg-4 order-lg-1 mb-4">
          <img class="img-fluid mb-4" src="{% static 'img/compare_projects.png' %}" alt="Compare projects">
        </div>
      </div>
      <div class="row justify-content-lg-center">
        <div class="col-lg-4 mb-4">
          <h2>Shareable Dashboards</h2>
          <h5><em>"Collecting data is only the first step toward wisdom, but sharing data is the first step toward community"</em> (<a href="https://en.wikipedia.org/wiki/Henry_Louis_Gates_Jr." target="_blank" rel="noopener noreferrer">Henry Louis Gates, Jr.</a>). Cauldron allow users to share reports and metrics about software development.</h5>
        </div>
        <div class="col-lg-4 mb-4">
          <img class="img-fluid mb-4" src="{% static 'img/public_dashboard.png' %}" alt="Public dashboard">
        </div>
      </div>
      <div class="row justify-content-lg-center">
        <div class="col-lg-4 order-lg-2 mb-4">
          <h2>Free Open Source Software</h2>
          <h5>Cauldron is free, open source software to allow users, contributors, and maintainers to use, study, share, and improve the software openly.</h5>
        </div>
        <div class="col-lg-4 order-lg-1 mb-4">
          <img class="img-fluid mb-4" src="{% static 'img/gitlab_cauldron_repo.png' %}" alt="Cauldron Gitlab source code">
        </div>
      </div>
      <div class="row justify-content-center text-center">
        <a class="btn btn-orange btn-lg my-3" href="{% url 'create_project' %}">Create a report</a>
      </div>
    </div>
  </section>
  <section class="technical-details">
    <div class="container-fluid">

      <div class="row justify-content-center mb-3">

        <div class="col-sm-4">
          <h2 class="mb-3 text-center">Supported data sources</h2>
          <div class="row">
            <div class="col-lg-6">
              <div class="media">
                <div class="align-self-start mr-3"><i class="fas fa-bug"></i></div>
                <div class="media-body">
                  <p class="font-weight-bold mb-1">Issue tracking</p>
                  <p>GitHub Issues, GitLab Issues (from GitLab, GNOME and KDE)</p>
                </div>
              </div>
              <div class="media">
                <div class="align-self-start mr-3"><i class="fas fa-code-branch"></i></div>
                <div class="media-body">
                  <p class="font-weight-bold mb-1">Source Code Review</p>
                  <p>GitHub Pull Requests, GitLab Merge Requests (from GitLab, GNOME and KDE)</p>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="media">
                <div class="align-self-start mr-3"><i class="fas fa-code"></i></div>
                <div class="media-body">
                  <p class="font-weight-bold mb-1">Source Code Management</p>
                  <p>Git</p>
                </div>
              </div>
              <div class="media">
                <div class="align-self-start mr-3"><i class="fas fa-users"></i></div>
                <div class="media-body">
                  <p class="font-weight-bold mb-1">Meetings Management</p>
                  <p>Meetup</p>
                </div>
              </div>
              <div class="media">
                <div class="align-self-start mr-3"><i class="far fa-comment-alt"></i></div>
                <div class="media-body">
                  <p class="font-weight-bold mb-1">Forums</p>
                  <p>StackExchange (StackOverflow and all available sites)</p>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="row justify-content-center text-center">
        <a class="btn btn-orange btn-lg my-3" href="{% url 'create_project' %}">Create a report</a>
      </div>
    </div>
  </section>
  {% if pricing_enabled %}
  <section class="pricing">
    {% include "cauldronapp/utils/pricing_cards.html" %}
  </section>
  {% endif %}
{% endblock %}
