.bg-dark {
  background-color: #333!important;
}

.navbar-line {
  height: 2rem;
  border: 1px solid #999C9F;
  width: 0px;
  margin: 0 0 0 1rem;
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
}

.nav-link {
  outline: none;
}

.btn-block {
  width: 100%;
  margin: 10px 0;
  text-align: left;
  line-height: 25px;
}

.btn-block i {
  float: left;
  margin: 4px 15px 0 5px;
  min-width: 15px;
}

.btn-git {
  color: #fff;
  background-color: #F05133;
  border-color: #F05133;
}

.btn-git:hover {
  background-color: #E04123;
  color: #fff;
}

.btn-github {
  color: #fff;
  background-color: #555555;
  border-color: #555555;
}

.btn-github:hover {
  background-color: #454545;
  color: #fff;
}

.btn-gitlab {
  color: #fff;
  background-color: #fc6d26;
  border-color: #fc6d26;
}

.btn-gitlab:hover {
  background-color: #eb5c15;
  color: #fff;
}

.btn-meetup {
  color: #fff;
  background-color: #F64060;
  border-color: #F64060;
}

.btn-meetup:hover {
  background-color: #E52949;
  color: #fff;
}

.btn-gnome {
  color: #fff;
  background-color: #314E6C;
  border-color: #314E6C;

}

.btn-gnome:hover {
  background-color: #213E5C;
  color: #fff;

}

.btn-kde {
  color: #fff;
  background-color: #4d4d4d;
  border-color: #4d4d4d;

}

.btn-kde:hover {
  background-color: #3d3d3d;
  color: #fff;

}

.btn-twitter {
  color: #fff;
  background-color: rgb(29,161,242);
  border-color: rgb(29,161,242);
}

.btn-twitter:hover {
  background-color: rgb(26,145,218);
  color: #fff;
}

.btn-stackexchange {
  color: #fff;
  background-color: #62b0df;
  border-color: #62b0df;
}

.btn-stackexchange:hover {
  background-color: #54A0CE;
  color: #fff;
}

.btn-orange {
    background-color: #F79C31;
    color: #fff;
}

.btn-orange:hover {
    background-color: #ec8409;
    color: #fff;
}

#modalLogin .modal-body {
  padding-top: 30px;
  padding-bottom: 30px;
}

#modalLogin {
  background-color: rgba(247, 247, 247, 0.7);
}

.toast {
  background-color: white;
}

body {
    position: relative;
    margin: 0;
    color: #333!important;
}

@media(min-width: 1000px) {
    body {
        height: 100%;
        min-height: 100vh;
        padding-bottom: 20rem;

    }
}

@media(min-width: 1000px) {
    .footer-position {
        bottom: 0px;
        position: absolute;
    }
}

#toast-container {
    position: absolute;
    bottom: 0;
    right: 0;
    overflow-y: auto;
}

section.header {
  color: #ffffff;
  background-image: url("/static/img/graph_blur.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

section.features {
  padding-top: 100px;
  padding-bottom: 100px;
}

section.technical-details {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #ddd;
}

section.start-now {
  padding-top: 100px;
}

#carouselHeaderIndicators li {
  background-color: rgba(0, 0, 0, 0.8);
}

.header h1 {
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
}

.header p {
    font-size: 24px;
}

.btn-twitter, .fa-twitter {
    background: #55ACEE;
    color: white;
}

.btn-facebook, .fa-facebook {
    background: #3B5998;
    color: white;
}

.btn-envelope, .fa-envelope {
    background: royalblue;
    color: white;
}

.btn-linkedin, .fa-linkedin-in {
    background: #007bb5;
    color: white;
}
footer a {
  color: #eee;
  text-decoration: underline;
}

footer a:hover {
  color: #ccc;
  text-decoration: underline;
}

table {
   color: #333!important;
}

.btn-block img {
    float: left;
    margin: 4px 15px 0 5px;
    min-width: 15px;
    height: 1em;
    width: auto;
}

.gnome-icon {
    background: url('/static/img/GnomeLogo.png') no-repeat 0px 0px;
    background-size: 15px;
    display: inline-block;
    height: 15px;
    width: 15px;
}

.gnome-icon-med {
    background: url('/static/img/GnomeLogo.png') no-repeat 0px 0px;
    background-size: 20px;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.gnome-icon-white {
    background: url('/static/img/GnomeLogoWhite.png') no-repeat 0px 0px;
    background-size: 15px;
    display: inline-block;
    height: 15px;
    width: 15px;
}

.gnome-icon-gray-big {
    background: url('/static/img/GnomeLogoGray.png') no-repeat 0px 0px;
    background-size: 32px;
    display: inline-block;
    height: 32px;
    width: 32px;
}

.kde-icon {
    background: url('/static/img/KDELogo.png') no-repeat 0px 0px;
    background-size: 15px;
    display: inline-block;
    height: 15px;
    width: 15px;
}

.kde-icon-med {
    background: url('/static/img/KDELogo.png') no-repeat 0px 0px;
    background-size: 20px;
    display: inline-block;
    height: 20px;
    width: 20px;
}

.kde-icon-white {
    background: url('/static/img/KDELogoWhite.png') no-repeat 0px 0px;
    background-size: 15px;
    display: inline-block;
    height: 15px;
    width: 15px;
}

.kde-icon-gray-big {
    background: url('/static/img/KDELogoGray.png') no-repeat 0px 0px;
    background-size: 32px;
    display: inline-block;
    height: 32px;
    width: 32px;
}

.site-content {
    padding-top: 56px;
}

.content-moved {
    margin-left: 50px;
}

.top-menu {
    padding: 0;
    display: flex;
}

.top-menu ul {
    padding: 0;
    margin: 0;
    display: flex;
}

.top-menu ul li {
    display: flex;
}

.top-menu ul li a {
    padding: 9px;
    color: #777;
    text-decoration: none;
}

.top-menu ul li a.active {
    font-weight: 700;
    color: #000;
    border-bottom: solid 2px #007bff;
}
