{% extends "cauldronapp/base.html" %}
{% load cauldron_tags %}
{% load static %}

{% block css%}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css"/>
{% endblock %}

{% block content %}
<div class="container-fluid mt-3">
    <div class="mb-3 d-md-flex justify-content-between">
        <h1>Compare reports</h1>
    </div>

    <!-- Success message -->
    {% if message_success %}
    <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message_success }}
    </div>
    {% endif %}

    <!-- Error message -->
    {% if message_error %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        {{ message_error }}
    </div>
    {% endif %}

    {% if user_projects|length > 0 %}
    <form method="GET" class="form-inline justify-content-between">
        <div class="form-group mb-2">
            <select name="projects" id="project-select-0" class="selectpicker mr-2" title="Select a report..." data-style="btn-outline-dark" data-live-search="true" data-size="5" data-showTick="true" data-width="auto" required>
                {% for project in user_projects %}
                <option value="{{ project.id }}">{{ project.name }}</option>
                {% endfor %}
            </select>

            <span class="font-weight-bold mr-2"><i class="fas fa-times"></i></span>

            <select name="projects" id="project-select-1" class="selectpicker mr-2" title="Select a report..." data-style="btn-outline-dark" data-live-search="true" data-size="5" data-showTick="true" data-width="auto" required>
                {% for project in user_projects %}
                <option value="{{ project.id }}">{{ project.name }}</option>
                {% endfor %}
            </select>

            <span id="times-2" class="font-weight-bold mr-2 d-none"><i class="fas fa-times"></i></span>

            <select name="projects" id="project-select-2" class="selectpicker mr-2" title="Select a report..." data-style="btn-outline-dark" data-live-search="true" data-size="5" data-showTick="true" data-width="auto" disabled required>
                {% for project in user_projects %}
                <option value="{{ project.id }}">{{ project.name }}</option>
                {% endfor %}
            </select>

            <span id="times-3" class="font-weight-bold mr-2 d-none"><i class="fas fa-times"></i></span>

            <select name="projects" id="project-select-3" class="selectpicker mr-2" title="Select a report..." data-style="btn-outline-dark" data-live-search="true" data-size="5" data-showTick="true" data-width="auto" disabled required>
                {% for project in user_projects %}
                <option value="{{ project.id }}">{{ project.name }}</option>
                {% endfor %}
            </select>

            <span id="times-4" class="font-weight-bold mr-2 d-none"><i class="fas fa-times"></i></span>

            <select name="projects" id="project-select-4" class="selectpicker mr-2" title="Select a report..." data-style="btn-outline-dark" data-live-search="true" data-size="5" data-showTick="true" data-width="auto" disabled required>
                {% for project in user_projects %}
                <option value="{{ project.id }}">{{ project.name }}</option>
                {% endfor %}
            </select>

            <button type="button" id="addProjectButton" class="btn btn-outline-dark font-weight-bold mr-2"><i class="fas fa-plus"></i></button>

            <button type="submit" class="btn btn-outline-dark"><strong>Compare</strong></button>
        </div>
    </form>
    {% endif %}

    {% if projects|length > 0 %}
    <div class="card">
        <div class="card-header font-weight-bold">
            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if tab == 'overview' %}active{% endif %}" href="?{% url_replace request 'tab' 'overview' %}" role="tab" aria-controls="pills-overview" aria-selected="true">Overview</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if tab == 'activity-git' %}active{% endif %}" href="?{% url_replace request 'tab' 'activity-git' %}" role="tab" aria-controls="pills-activity-git" aria-selected="false">Commits Activity</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if tab == 'activity-issues' %}active{% endif %}" href="?{% url_replace request 'tab' 'activity-issues' %}" role="tab" aria-controls="pills-activity-issues" aria-selected="false">Issues Activity</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if tab == 'activity-reviews' %}active{% endif %}" href="?{% url_replace request 'tab' 'activity-reviews' %}" role="tab" aria-controls="pills-activity-reviews" aria-selected="false">PRs/MRs Activity</a>
                </li>
                <li class="nav-item" role="presentation">
                    <a class="nav-link {% if tab == 'community-overview' %}active{% endif %}" href="?{% url_replace request 'tab' 'community-overview' %}" role="tab" aria-controls="pills-community" aria-selected="false">Community</a>
                </li>
                <div class="ml-md-auto">
                    <div class="input-group">
                        <input type="text" class="form-control"  id="date-picker-input">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" id="date-picker">
                                <i class="fa fa-calendar"></i>&nbsp;
                                <i class="fa fa-caret-down"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </ul>
        </div>

        <div class="tab-content card-body">
            <!-- Start Overview -->
            {% if tab == 'overview' %}
            {% include "cauldronapp/compare/overview.html" %}
            {% endif %}
            <!-- End Overview -->
            <!-- Start Git Activity -->
            {% if tab == 'activity-git' %}
            {% include "cauldronapp/compare/activity/commits.html" %}
            {% endif %}
            <!-- End Git Activity -->
            <!-- Start Issues Activity -->
            {% if tab == 'activity-issues' %}
            {% include "cauldronapp/compare/activity/issues.html" %}
            {% endif %}
            <!-- End Issues Activity -->
            <!-- Start Reviews Activity -->
            {% if tab == 'activity-reviews' %}
            {% include "cauldronapp/compare/activity/reviews.html" %}
            {% endif %}
            <!-- End Reviews Activity-->
            <!-- Start Community -->
            {% if tab == 'community-overview' %}
            {% include "cauldronapp/compare/community/overview.html" %}
            {% endif %}
            <!-- End Community -->
        </div>
    </div>
    {% else %}
    <p><em>No reports selected to compare</em></p>
    {% endif %}
</div>
{% endblock %}

{% block javascript %}
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.1.min.js" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.25.3/moment.min.js" integrity="sha256-C66CaAImteEKZPYvgng9j10J/45e9sAuZyfPYCwp4gE=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<script>
$(function() {
    for (i = 2; i < 5; i++) {
        $('#project-select-'+i).selectpicker('hide');
    }
});

$('#addProjectButton').on('click', function(event) {
    event.preventDefault();
    var non_disabled = $("select:not(:disabled)").length;
    if (non_disabled < 5) {
        $('#times-'+non_disabled).removeClass('d-none');
        $('#project-select-'+non_disabled).selectpicker('show');
        $('#project-select-'+non_disabled).attr('disabled',false);
        $('#project-select-'+non_disabled).selectpicker('refresh');
    }

    if (non_disabled >= 4) {
        $('#addProjectButton').addClass('d-none');
    }
});
</script>
{% if projects|length > 0 %}
<script>
document.addEventListener('DOMContentLoaded', function(event) {
    var graphs = {
        {% if tab == 'overview' %}
        // Overview
        "chart-commits-compare-overview": {{ charts.git_commits_bokeh_compare | safe }},
        "chart-issues-created-compare-overview": {{ charts.issues_created_bokeh_compare | safe }},
        "chart-reviews-created-compare-overview": {{ charts.reviews_created_bokeh_compare | safe }},
        {% endif %}
        {% if tab == 'activity-git' %}
        // Commits Activity
        "chart-commits-compare": {{ charts.git_commits_bokeh_compare | safe }},
        {% endif %}
        {% if tab == 'activity-issues' %}
        // Issues Activity
        "chart-issues-created-compare": {{ charts.issues_created_bokeh_compare | safe }},
        "chart-issues-closed-compare": {{ charts.issues_closed_bokeh_compare | safe }},
        {% endif %}
        {% if tab == 'activity-reviews' %}
        // PRs/MRs Activity
        "chart-reviews-created-compare": {{ charts.reviews_created_bokeh_compare | safe }},
        "chart-reviews-closed-compare": {{ charts.reviews_closed_bokeh_compare | safe }},
        {% endif %}
        {% if tab == 'community-overview' %}
        // Community
        "chart-git-authors-compare": {{ charts.git_authors_bokeh_compare | safe }},
        "chart-issue-submitters-compare": {{ charts.issue_submitters_bokeh_compare | safe }},
        "chart-review-submitters-compare": {{ charts.review_submitters_bokeh_compare | safe }},
        {% endif %}
    }

    for (var k in graphs) {
        if (!document.getElementById(k)){
            continue;
        }

        item = graphs[k];
        Bokeh.embed.embed_item(item, k);
    }
})
</script>

<script>
$(function() {
    var start = getUrlParameter('from_date');
    var end = getUrlParameter('to_date');
    start = (typeof start === 'undefined') ? moment().subtract(1, 'year') : moment(start, "YYYY-MM-DD");
    end = (typeof end === 'undefined') ? moment() : moment(end, "YYYY-MM-DD");

    function cb(start, end) {
        var from_str = start.format('YYYY-MM-DD');
        var end_str = end.format('YYYY-MM-DD');
        $('#date-picker-input').val(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
        var url = new URL(document.URL);
        var search_params = url.searchParams;
        search_params.set('from_date', from_str);
        search_params.set('to_date', end_str);
        url.search = search_params.toString();
        window.location.href = url.toString();
    }

    $('#date-picker').daterangepicker({
        startDate: start,
        endDate: end,
        maxDate: moment(),
        opens: 'left',
        ranges: {
           'Last 30 Days': [moment().subtract(29, 'days'), moment()],
           'Last 6 months': [moment().subtract(6, 'months'), moment()],
           'Last Year': [moment().subtract(1, 'year'), moment()],
           'Last 3 Years': [moment().subtract(3, 'years'), moment()],
           'All (20 years)': [moment().subtract(20, 'years'), moment()]
        },
        showCustomRangeLabel: false
    }, cb);

    $('#date-picker-input').daterangepicker({
        startDate: start,
        endDate: end,
        maxDate: moment(),
        opens: 'left',
        locale: {
            format: 'YYYY-MM-DD'
        }
    }, cb);

    $('#date-picker-input').val(start.format('YYYY-MM-DD') + ' - ' + end.format('YYYY-MM-DD'));
});
</script>

<script>
$(function() {
    var projects = getURLParameterList('projects');
    if (projects.length <= 5) {
        for (const [index, project] of projects.entries()) {
            $('#times-'+index).removeClass('d-none');
            $('#project-select-'+index).selectpicker('show');
            $('#project-select-'+index).val(project);
            $('#project-select-'+index).attr('disabled',false);
            $('#project-select-'+index).selectpicker('refresh');
        }
    }

    var non_disabled = $("select:not(:disabled)").length;
    if (non_disabled >= 5) {
        $('#addProjectButton').addClass('d-none');
    }
});
</script>
{% endif %}
{% endblock %}
