{% load cauldron_tags %}

<div id="overview" class="mb-4 tab-pane fade show active" role="tabpanel" >
  <div class="row mb-4">
    <div class="col-md-6 p-4 border">
      <p class="h5 font-weight-bold mb-3">Activity</p>
      <table class="table table-borderless text-center">
        <thead>
          <tr>
            <th scope="col"></th>
            {% if has_git %}
            <th scope="col" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Number of commits, ignoring pull/merge request commits. <a target='_blank' href='https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/commits.md'>Read more</a>">Commits</th>
            {% endif %}
            {% if has_gitlab or has_github %}
            <th scope="col" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Number of created issues. <a target='_blank' href='https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/issues-created.md'>Read more</a>">Issues</th>
            <th scope="col" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Number of created Pull/Merge Requests. <a target='_blank' href='https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/pull-merge-requests-created.md'>Read more</a>">Reviews</th>
            {% endif %}
            {% if has_stack %}
            <th scope="col" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Number of new questions on StackExchange. <a target='_blank' href='https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/questions.md'>Read more</a>">Questions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Total</th>
            {% if has_git %}
            <td><span id="num_commits_overview">{{ metrics.commits_overview }}</span></td>
            {% endif %}
            {% if has_gitlab or has_github %}
            <td><span id="num_issues_overview">{{ metrics.issues_overview }}</span></td>
            <td><span id="num_reviews_overview">{{ metrics.reviews_overview }}</span></td>
            {% endif %}
            {% if has_stack %}
            <td><span id="num_questions_overview">{{ metrics.questions_overview }}</span></td>
            {% endif %}
          </tr>
          <tr>
            <th scope="row">Total (Last year)</th>
            {% if has_git %}
            <td><span id="num_commits_last_year_overview">{{ metrics.commits_last_year_overview }}</span></td>
            {% endif %}
            {% if has_gitlab or has_github %}
            <td><span id="num_issues_last_year_overview">{{ metrics.issues_last_year_overview }}</span></td>
            <td><span id="num_reviews_last_year_overview">{{ metrics.reviews_last_year_overview }}</span></td>
            {% endif %}
            {% if has_stack %}
            <td><span id="num_questions_last_year_overview">{{ metrics.questions_last_year_overview }}</span></td>
            {% endif %}
          </tr>
          <tr>
            <th scope="row">Year-over-year</th>
            {% if has_git %}
            <td><span id="num_commits_yoy_overview">{{ metrics.commits_yoy_overview }}</span> %</td>
            {% endif %}
            {% if has_gitlab or has_github %}
            <td><span id="num_issues_yoy_overview">{{ metrics.issues_yoy_overview }}</span> %</td>
            <td><span id="num_reviews_yoy_overview">{{ metrics.reviews_yoy_overview }}</span> %</td>
            {% endif %}
            {% if has_stack %}
            <td><span id="num_questions_yoy_overview">{{ metrics.questions_yoy_overview }}</span> %</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
    {% if has_git %}
    <div class="col-lg-6">
      <div id="chart-commits-overview"></div>
      <div class="card-body chart-description" style="display: none;">
        <h5 class="card-title">Number of commits</h5>
        <p class="card-text">Number of commits is the most common measure of activity in a git repository. To compute it, we're considering all commits in all branches of all repositories in the report, excluding empty commits. Each commit represents a change to the source code, maybe touching several files. However, commits may be very different in size, complexity and usefulness to the report, so this number should only be considered as an indicator, among others.</p>
        <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/activity/commits-chart.md" class="card-link">Read more</a>
      </div>
    </div>
    {% endif %}
  </div>

  <div class="row mb-4">
    <div class="col-md-6 p-4 border">
      <p class="h5 font-weight-bold mb-3">Community</p>
      <table class="table table-borderless text-center">
        <thead>
          <tr>
            <th scope="col"></th>
            {% if has_git %}
            <th scope="col" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Number of commit authors, ignoring pull/merge request commits. <a target='_blank' href='https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/community/active-people.md'>Read more</a>">Commit authors</th>
            {% endif %}
            {% if has_gitlab or has_github %}
            <th scope="col" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Number of issue submitters. <a target='_blank' href='https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/community/active-people.md'>Read more</a>">Issue submitters</th>
            <th scope="col" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Number of review submitters. <a target='_blank' href='https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/community/active-people.md'>Read more</a>">Review submitters</th>
            {% endif %}
            {% if has_stack %}
            <th scope="col" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Number of StackExchange question authors. <a target='_blank' href='https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/community/people-asking.md'>Read more</a>">Question authors</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Total</th>
            {% if has_git %}
            <td><span id="num_commit_authors_overview">{{ metrics.commit_authors_overview }}</span></td>
            {% endif %}
            {% if has_gitlab or has_github %}
            <td><span id="num_issue_submitters_overview">{{ metrics.issue_submitters_overview }}</span></td>
            <td><span id="num_review_submitters_overview">{{ metrics.review_submitters_overview }}</span></td>
            {% endif %}
            {% if has_stack %}
            <td><span id="num_question_authors_overview">{{ metrics.question_authors_overview }}</span></td>
            {% endif %}
          </tr>
          <tr>
            <th scope="row">Total (Last year)</th>
            {% if has_git %}
            <td><span id="num_commit_authors_last_year_overview">{{ metrics.commit_authors_last_year_overview }}</span></td>
            {% endif %}
            {% if has_gitlab or has_github %}
            <td><span id="num_issue_submitters_last_year_overview">{{ metrics.issue_submitters_last_year_overview }}</span></td>
            <td><span id="num_review_submitters_last_year_overview">{{ metrics.review_submitters_last_year_overview }}</span></td>
            {% endif %}
            {% if has_stack %}
            <td><span id="num_question_authors_last_year_overview">{{ metrics.question_authors_last_year_overview }}</span></td>
            {% endif %}
          </tr>
          <tr>
            <th scope="row">Year-over-year</th>
            {% if has_git %}
            <td><span id="num_commit_authors_yoy_overview">{{ metrics.commit_authors_yoy_overview }}</span> %</td>
            {% endif %}
            {% if has_gitlab or has_github %}
            <td><span id="num_issue_submitters_yoy_overview">{{ metrics.issue_submitters_yoy_overview }}</span> %</td>
            <td><span id="num_review_submitters_yoy_overview">{{ metrics.review_submitters_yoy_overview }}</span> %</td>
            {% endif %}
            {% if has_stack %}
            <td><span id="num_question_authors_yoy_overview">{{ metrics.question_authors_yoy_overview }}</span> %</td>
            {% endif %}
          </tr>
        </tbody>
      </table>
    </div>
    {% if has_git or has_github or has_gitlab or has_meetup %}
    <div class="col-lg-6">
      <div id="chart-people-overview"></div>
      <div class="card-body chart-description" style="display: none;">
        <h5 class="card-title">Number of authors</h5>
        <p class="card-text">Number of authors gives an idea of the size of the active community for a report. In this case, we're measuring, for each week in the chart, the number of different identities that authored at least one commit, or that submitted issues or reviews (pull or merge requests) to any repository of the report during that week. Although this is usually a good indicator of people who are active in the project, it is important to notice that, during any given week, active developers may be busy with some other stuff, thus not appearing in this chart. Also, casual contributors (such as somebody submitting a bug report but not really engaged with the project) appear in the chart. People taking care of important tasks, such as writing documentation, may also be reflected in this chart, or not, depending on the repositories included in the report, and how the project deals with those tasks.</p>
        <a target="_blank" href="https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/overview/authors-evolution.md" class="card-link">Read more</a>
      </div>
    </div>
    {% endif %}
  </div>

  {% if has_gitlab or has_github %}
  <div class="row mb-4">
    <div class="col-md-6 p-4 border">
      <p class="h5 font-weight-bold mb-3">Performance</p>
      <table class="table table-borderless text-center">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Median time to close for closed issues. <a target='_blank' href='https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/performance/issues-time-to-close-median.md'>Read more</a>">Issues</th>
            <th scope="col" data-toggle="tooltip" data-html="true" data-placement="top" data-delay='{"hide":"3000"}' title="Median time to close for closed (and merged) reviews. <a target='_blank' href='https://gitlab.com/cauldronio/cauldron/-/blob/master/guides/metrics/performance/reviews-time-to-close-median.md'>Read more</a>">Reviews</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Median time to close</th>
            <td><span id="num_issues_median_time_to_close_overview">{{ metrics.issues_median_time_to_close_overview }}</span> days</td>
            <td><span id="num_reviews_median_time_to_close_overview">{{ metrics.reviews_median_time_to_close_overview }}</span> days</td>
          </tr>
          <tr>
            <th scope="row">Median time to close (Last year)</th>
            <td><span id="num_issues_median_time_to_close_last_year_overview">{{ metrics.issues_median_time_to_close_last_year_overview }}</span> days</td>
            <td><span id="num_reviews_median_time_to_close_last_year_overview">{{ metrics.reviews_median_time_to_close_last_year_overview }}</span> days</td>
          </tr>
          <tr>
            <th scope="row">Year-over-year</th>
            <td><span id="num_issues_median_time_to_close_yoy_overview">{{ metrics.issues_median_time_to_close_yoy_overview }}</span> %</td>
            <td><span id="num_reviews_median_time_to_close_yoy_overview">{{ metrics.reviews_median_time_to_close_yoy_overview }}</span> %</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-lg-6">
      <div id="chart-issues-still-open-overview"></div>
    </div>
  </div>
  {% endif %}
  <div class="table-responsive">
    <table class="table table-striped">
      <tr>
        <th>
          Repository
          {% get_sorting_link request 'name' as name_sorting_link %}
          <a href="?{% url_replace request 'sort_by' name_sorting_link %}">
            <i class="{% get_sorting_icon request 'name' %}"></i>
          </a>
        </th>
        <th>
          Commits
          {% get_sorting_link request 'commits' as name_sorting_link %}
          <a href="?{% url_replace request 'sort_by' name_sorting_link %}">
            <i class="{% get_sorting_icon request 'commits' %}"></i>
          </a>
        </th>
        <th>
          Issues
          {% get_sorting_link request 'issues' as name_sorting_link %}
          <a href="?{% url_replace request 'sort_by' name_sorting_link %}">
            <i class="{% get_sorting_icon request 'issues' %}"></i>
          </a>
        </th>
        <th>
          Reviews
          {% get_sorting_link request 'reviews' as name_sorting_link %}
          <a href="?{% url_replace request 'sort_by' name_sorting_link %}">
            <i class="{% get_sorting_icon request 'reviews' %}"></i>
          </a>
        </th>
      </tr>
      {% for repo in page_obj %}
      <tr>
        <td>{{repo.name}}</td>
        <td>{{repo.commits}}</td>
        <td>{{repo.issues}}</td>
        <td>{{repo.reviews}}</td>
      </tr>
      {% endfor %}
    </table>
    {% include "cauldronapp/utils/nav_pagination.html" %}
  </div>
</div>
