{% load cauldron_tags %}


<h2>Export data</h2>
<p>Generate and download data dumps in CSV format from the data collected by Cauldron for you.</p>

<div class="table-responsive mt-4">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Data</th>
        <th scope="col">Dump date</th>
        <th scope="col">Size</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% if has_git %}
      <tr class="git-row">
        <th scope="row">Git Commits</th>
        <td class="creation">-</td>
        <td class="size">-</td>
        <td>
          <button type="button" class="generate-csv btn btn-sm btn-outline-dark" data-backend="GIT">
            <div class="generate-spinner spinner-border spinner-border-sm" role="status" style="display: none;">
              <span class="sr-only">Loading...</span>
            </div>
            <i class="generate-icon fas fa-sync"></i>
            <span class="pl-2">Generate</span>
          </button>
          <a href="#" type="button" class="csv-link btn btn-sm btn-outline-dark disabled"><i class="fas fa-download pr-2"></i>Download</a>
        </td>
      </tr>
      {% endif %}
      {% if data_sources_enabled.github and has_github %}
      <tr class="github-row">
        <th scope="row">GitHub Issues/Pull requests</th>
        <td class="creation">-</td>
        <td class="size">-</td>
        <td>
          <button type="button" class="generate-csv btn btn-sm btn-outline-dark" data-backend="GITHUB">
            <div class="generate-spinner spinner-border spinner-border-sm" role="status" style="display: none;">
              <span class="sr-only">Loading...</span>
            </div>
            <i class="generate-icon fas fa-sync"></i>
            <span class="pl-2">Generate</span>
          </button>
          <a href="#" type="button" class="csv-link btn btn-sm btn-outline-dark disabled"><i class="fas fa-download pr-2"></i>Download</a>
        </td>
      </tr>
      {% endif %}
      {% if data_sources_enabled.gitlab and has_gitlab %}
      <tr class="gitlab-row">
        <th scope="row">GitLab Issues/Merge requests</th>
        <td class="creation">-</td>
        <td class="size">-</td>
        <td>
          <button type="button" class="generate-csv btn btn-sm btn-outline-dark" data-backend="GITLAB">
            <div class="generate-spinner spinner-border spinner-border-sm" role="status" style="display: none;">
              <span class="sr-only">Loading...</span>
            </div>
            <i class="generate-icon fas fa-sync"></i>
            <span class="pl-2">Generate</span>
          </button>
          <a href="#" type="button" class="csv-link btn btn-sm btn-outline-dark disabled"><i class="fas fa-download pr-2"></i>Download</a>
        </td>
      </tr>
      {% endif %}
      {% if data_sources_enabled.meetup and has_meetup %}
      <tr class="meetup-row">
        <th scope="row">Meetup events</th>
        <td class="creation">-</td>
        <td class="size">-</td>
        <td>
          <button type="button" class="generate-csv btn btn-sm btn-outline-dark" data-backend="MEETUP">
            <div class="generate-spinner spinner-border spinner-border-sm" role="status" style="display: none;">
              <span class="sr-only">Loading...</span>
            </div>
            <i class="generate-icon fas fa-sync"></i>
            <span class="pl-2">Generate</span>
          </button>
          <a href="#" type="button" class="csv-link btn btn-sm btn-outline-dark disabled"><i class="fas fa-download pr-2"></i>Download</a>
        </td>
      </tr>
      {% endif %}
      {% if data_sources_enabled.stack_exchange and has_stack %}
      <tr class="stackexchange-row">
        <th scope="row">StackExchange Questions & Answers</th>
        <td class="creation">-</td>
        <td class="size">-</td>
        <td>
          <button type="button" class="generate-csv btn btn-sm btn-outline-dark" data-backend="STACK_EXCHANGE">
            <div class="generate-spinner spinner-border spinner-border-sm" role="status" style="display: none;">
              <span class="sr-only">Loading...</span>
            </div>
            <i class="generate-icon fas fa-sync"></i>
            <span class="pl-2">Generate</span>
          </button>
          <a href="#" type="button" class="csv-link btn btn-sm btn-outline-dark disabled"><i class="fas fa-download pr-2"></i>Download</a>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>

</div>

<h2>Export badges</h2>
<p>Show anywhere badges with the results of Cauldron analysis. Images are updated when the report is refreshed.</p>

<div class="table-responsive mt-4">
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">URL</th>
      </tr>
    </thead>
    <tbody>
      {% if has_git %}
      <tr>
        <th scope="row">Git Commits</th>
        <td><img class="img-fluid" src="{% url 'request_project_export_svg' project.id 'git_commits' %}"/></td>
        <td>
          <div class="input-group">
            <input id="input-git_commits" type="text" class="form-control" value="https://{{request.get_host}}{% url 'request_project_export_svg' project.id 'git_commits' %}" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-dark rounded-right copy-clipboard" data-copy-input="input-git_commits" type="button" data-toggle="tooltip" data-title="Copied to clipboard!" data-trigger="manual" data-placement="bottom"><i class="far fa-copy"></i></button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Git Contributors</th>
        <td><img class="img-fluid" src="{% url 'request_project_export_svg' project.id 'git_contributors' %}"/></td>
        <td>
          <div class="input-group">
            <input id="input-git_contributors" type="text" class="form-control" value="https://{{request.get_host}}{% url 'request_project_export_svg' project.id 'git_contributors' %}" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-dark rounded-right copy-clipboard" data-copy-input="input-git_contributors" type="button" data-toggle="tooltip" data-title="Copied to clipboard!" data-trigger="manual" data-placement="bottom"><i class="far fa-copy"></i></button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Git Commits/Line</th>
        <td><img class="img-fluid" src="{% url 'request_project_export_svg' project.id 'git_lines_commits' %}"/></td>
        <td>
          <div class="input-group">
            <input id="input-git_lines_commits" type="text" class="form-control" value="https://{{request.get_host}}{% url 'request_project_export_svg' project.id 'git_lines_commits' %}" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-dark rounded-right copy-clipboard" data-copy-input="input-git_lines_commits" type="button" data-toggle="tooltip" data-title="Copied to clipboard!" data-trigger="manual" data-placement="bottom"><i class="far fa-copy"></i></button>
            </div>
          </div>
        </td>
      </tr>
      {% endif %}
      {% if has_github or has_gitlab %}
      <tr>
        <th scope="row">Issues created</th>
        <td><img class="img-fluid" src="{% url 'request_project_export_svg' project.id 'issues_created' %}"/></td>
        <td>
          <div class="input-group">
            <input id="input-issues_created" type="text" class="form-control" value="https://{{request.get_host}}{% url 'request_project_export_svg' project.id 'issues_created' %}" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-dark rounded-right copy-clipboard" data-copy-input="input-issues_created" type="button" data-toggle="tooltip" data-title="Copied to clipboard!" data-trigger="manual" data-placement="bottom"><i class="far fa-copy"></i></button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Issues closed</th>
        <td><img class="img-fluid" src="{% url 'request_project_export_svg' project.id 'issues_closed' %}"/></td>
        <td>
          <div class="input-group">
            <input id="input-issues_closed" type="text" class="form-control" value="https://{{request.get_host}}{% url 'request_project_export_svg' project.id 'issues_closed' %}" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-dark rounded-right copy-clipboard" data-copy-input="input-issues_closed" type="button" data-toggle="tooltip" data-title="Copied to clipboard!" data-trigger="manual" data-placement="bottom"><i class="far fa-copy"></i></button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Issue authors</th>
        <td><img class="img-fluid" src="{% url 'request_project_export_svg' project.id 'issues_authors' %}"/></td>
        <td>
          <div class="input-group">
            <input id="input-issues_authors" type="text" class="form-control" value="https://{{request.get_host}}{% url 'request_project_export_svg' project.id 'issues_authors' %}" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-dark rounded-right copy-clipboard" data-copy-input="input-issues_authors" type="button" data-toggle="tooltip" data-title="Copied to clipboard!" data-trigger="manual" data-placement="bottom"><i class="far fa-copy"></i></button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Issues Time to close</th>
        <td><img class="img-fluid" src="{% url 'request_project_export_svg' project.id 'issues_time_to_close' %}"/></td>
        <td>
          <div class="input-group">
            <input id="input-issues_time_to_close" type="text" class="form-control" value="https://{{request.get_host}}{% url 'request_project_export_svg' project.id 'issues_time_to_close' %}" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-dark rounded-right copy-clipboard" data-copy-input="input-issues_time_to_close" type="button" data-toggle="tooltip" data-title="Copied to clipboard!" data-trigger="manual" data-placement="bottom"><i class="far fa-copy"></i></button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Reviews created</th>
        <td><img class="img-fluid" src="{% url 'request_project_export_svg' project.id 'reviews_created' %}"/></td>
        <td>
          <div class="input-group">
            <input id="input-reviews_created" type="text" class="form-control" value="https://{{request.get_host}}{% url 'request_project_export_svg' project.id 'reviews_created' %}" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-dark rounded-right copy-clipboard" data-copy-input="input-reviews_created" type="button" data-toggle="tooltip" data-title="Copied to clipboard!" data-trigger="manual" data-placement="bottom"><i class="far fa-copy"></i></button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Reviews closed</th>
        <td><img class="img-fluid" src="{% url 'request_project_export_svg' project.id 'reviews_closed' %}"/></td>
        <td>
          <div class="input-group">
            <input id="input-reviews_closed" type="text" class="form-control" value="https://{{request.get_host}}{% url 'request_project_export_svg' project.id 'reviews_closed' %}" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-dark rounded-right copy-clipboard" data-copy-input="input-reviews_closed" type="button" data-toggle="tooltip" data-title="Copied to clipboard!" data-trigger="manual" data-placement="bottom"><i class="far fa-copy"></i></button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Reviews authors</th>
        <td><img class="img-fluid" src="{% url 'request_project_export_svg' project.id 'reviews_authors' %}"/></td>
        <td>
          <div class="input-group">
            <input id="input-reviews_authors" type="text" class="form-control" value="https://{{request.get_host}}{% url 'request_project_export_svg' project.id 'reviews_authors' %}" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-dark rounded-right copy-clipboard" data-copy-input="input-reviews_authors" type="button" data-toggle="tooltip" data-title="Copied to clipboard!" data-trigger="manual" data-placement="bottom"><i class="far fa-copy"></i></button>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Reviews Time to close</th>
        <td><img class="img-fluid" src="{% url 'request_project_export_svg' project.id 'reviews_time_to_close' %}"/></td>
        <td>
          <div class="input-group">
            <input id="input-reviews_time_to_close" type="text" class="form-control" value="https://{{request.get_host}}{% url 'request_project_export_svg' project.id 'reviews_time_to_close' %}" readonly>
            <div class="input-group-append">
              <button class="btn btn-outline-dark rounded-right copy-clipboard" data-copy-input="input-reviews_time_to_close" type="button" data-toggle="tooltip" data-title="Copied to clipboard!" data-trigger="manual" data-placement="bottom"><i class="far fa-copy"></i></button>
            </div>
          </div>
        </td>
      </tr>
      {% endif %}
    </tbody>
  </table>
  {% if has_git or has_github or has_gitlab %}
  <h3>Detailed badges</h3>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="{% url 'project_stats_svg' project.id %}"/>

      <div class="card-body">
        <h5 class="card-title">Activity and community for repositories</h5>
        <div class="input-group">
          <input id="input-general_stats" type="text" class="form-control" value="https://{{request.get_host}}{% url 'project_stats_svg' project.id %}" readonly>
          <div class="input-group-append">
            <button class="btn btn-outline-dark rounded-right copy-clipboard" data-copy-input="input-general_stats" type="button" data-toggle="tooltip" data-title="Copied to clipboard!" data-trigger="manual" data-placement="bottom"><i class="far fa-copy"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}


</div>
